@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Elsie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");

:root {
  --margin-inline-4k: 15vw;
  --margin-inline-laptop: 10vw;
  --margin-inline-mobile: 5vw;
  --website-padding-desktop: 10vw;
  --website-padding-mobile: 3vw;

  --paragraph-font-mobile: 0.82rem;
  --paragraph-line-height-mobile: 0.92rem;
  --paragraph-font-tablet: 0.9rem;
  --paragraph-font-laptop: 1rem;
  --paragraph-font-4k: 1.25vw;
  --paragraph-line-height-tablet: 1.15rem;
  --paragraph-line-height-4k: 1.6vw;

  --h1-font-mobile: 2.5rem;
  --h1-font-tablet: 3rem;
  --h1-font-laptop: 5.65vw;
  --h1-font-4k: 5.25vw;

  --h2-font-mobile: 1.6rem;
  --h2-font-tablet: 2.1rem;
  --h2-font-laptop: 2.6rem;
  --h2-font-4k: 3.2vw;

  --h3-font-mobile: 1.2rem;
  --h3-font-tablet: 1.4rem;
  --h3-font-laptop: 1.5rem;
  --h3-font-4k: 1.75vw;

  --h4-font-mobile: 0.7rem;
  --h4-font-tablet: 0.8rem;
  --h4-font-laptop: 1.1rem;
  --h4-font-4k: 1.3vw;

  --h5-font-mobile: 0.6rem;
  --h5-font-tablet: 0.7rem;
  --h5-font-laptop: 0.85rem;
  --h5-font-4k: 0.97vw;

  /* custom color for react toast */
  --toastify-icon-color-success: #053527 !important;

  --primary: #101935;
  --secondary: #c0c0c0;
  --body: #222222;
  --neutral: #fefffe;
  --main-secondary-font: "Josefin Sans", sans-serif;
  --main-primary-font: "MyFont", sans-serif;

  /* custom css for mui spinners */
  --joy-palette-primary-100: #fefefe !important;
  --joy-palette-primary-600: #637263 !important;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

p {
  font-size: 1.2vw !important;
  line-height: 1.5vw !important;
}
h1 {
  font-size: 2.5vw !important;
}
h2 {
  font-size: 1.8vw !important;
  line-height: 2vw !important;
}
h3 {
  font-size: 1.55vw !important;
  line-height: 2vw !important;
}
h4 {
  font-size: 1.35vw !important;
  line-height: 1.9vw !important;
}
h5 {
  font-size: 1.05vw !important;
  line-height: 1.75vw !important;
}

h1,
h2,
h3 {
  font-family: var(--main-primary-font);
  /* font-size: 2rem; */
  /* color: var(--main-green-dark); */
}

h4,
h5,
h6,
p,
span,
li,
button {
  font-family: var(--main-secondary-font);
}

a {
  color: inherit;
  text-decoration: none;
}

*:focus {
  outline: 0 !important;
}

/* these are the custom css for ant dropdown menu  from antd */

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid var(--main-red-dark);
  height: 36px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector:hover {
  border: 1px solid rgb(0, 0, 0) !important;
  /* border: none; */
}

.ant-select .ant-select-arrow {
  color: rgb(0, 0, 0);
}

.ant-menu-light .ant-menu-item-selected,
.ant-menu-light > .ant-menu .ant-menu-item-selected {
  color: black;
}
.ant-menu-light .ant-menu-item-selected,
.ant-menu-light > .ant-menu .ant-menu-item-selected {
  background-color: transparent;
}
.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-12jzuas).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title {
  color: black;
}
.ant-menu-light.ant-menu-root.ant-menu-inline,
.ant-menu-light > .ant-menu.ant-menu-root.ant-menu-inline,
.ant-menu-light.ant-menu-root.ant-menu-vertical,
.ant-menu-light > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}
.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  max-height: 70vh !important;
  overflow-y: auto !important;
}

.ant-menu .ant-menu-item,
.ant-menu .ant-menu-submenu,
.ant-menu .ant-menu-submenu-title {
  border-radius: 0px;
}
.ant-menu-submenu-title {
  border-bottom: 1px solid rgb(134, 134, 134);
  margin-inline: 5px;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

/* This is a custom css for splide Carousel . You can customize the controls here */

.splide__pagination.splide__pagination--ltr {
  position: absolute;
  width: fit-content;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
}

.splide_container .splide__pagination.splide__pagination--ltr {
  position: absolute;
  width: fit-content;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

#event_carousel .splide__arrow.splide__arrow--prev {
  background-color: transparent !important;
  border: 1px solid rgb(0, 0, 0);
  color: var(--main-cream-light) !important;
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  position: absolute;
  top: 20% !important;
  left: 10vw;
  /* bottom: 10vh !important; */
  z-index: 101;
}
#event_carousel .splide__arrow.splide__arrow--next {
  background-color: black !important;
  border: 1px solid grey;
  color: var(--main-cream-light) !important;
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  position: absolute;
  top: 20% !important;
  right: 10vw;
  /* bottom: 10vh !important; */
  z-index: 101;
}

#nopagination .splide__arrow {
  display: none !important;
  border: none !important;
  position: absolute;
}

#carousel .splide__arrow.splide__arrow--prev {
  background-color: transparent !important;
  border: 1.3px solid grey;
  color: var(--main-cream-light) !important;
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  position: absolute;
  left: 42%;
  top: 100%;

  /* bottom: 10vh; */
}

#carousel .splide__arrow.splide__arrow--next {
  background-color: transparent !important;
  border: 1px solid grey;
  color: var(--main-cream-light) !important;
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  position: absolute;
  top: 100% !important;
  right: 42%;
  /* bottom: 10vh !important; */
  z-index: 101;
}

#carousel .splide__arrow svg {
  fill: rgb(0, 0, 0) !important;
}

/* this is custom css for react range slider */
.horizontal-slider {
  height: 7vh;
  width: 100%;
  margin-top: 40px;
}

.ant-menu li {
  padding-left: 0px !important;
}

.ant-menu-item {
  height: 46px !important;
}
#rc-menu-uuid {
  height: 52vh !important;
}
#rc-menu-uuid-17040-1-sub4-popup li {
  height: 10vh !important;
}

.example-thumb {
  background-color: var(--main-green-light);
  color: white;
  height: 27px;
  width: 27px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* padding: 1px; */
  top: -10px;
  /* padding-top: -6px !important; */
  font-size: 11px;
}

.example-track-0 {
  background-color: rgb(255, 255, 255);
  height: 1vh;
  border-radius: 8px;
  border: 1px solid var(--main-cream-light);
}
.example-track-1 {
  background-color: var(--main-cream-light);
  height: 1vh;
  border-radius: 8px;
}
.example-track-2 {
  background-color: rgb(255, 255, 255);
  height: 1vh;
  border-radius: 8px;
  border: 1px solid var(--main-cream-light);
}

.splidejs .is-active {
  transform: scale(1.6);
}
@media (max-width: 520px) {
  .splide__arrow.splide__arrow--next {
    display: none;
  }
  .splide__arrow.splide__arrow--prev {
    display: none;
  }
  .horizontal-slider {
    height: 4vh;
    width: 100%;
    margin-top: 20px;
  }
}

@media (min-width: 1700px) {
  .ant-menu-item {
    height: 56px !important;
  }
  .ant-menu-item li {
    font-size: 1.5rem !important;
  }
  .ant-menu-title-content {
    font-size: 1.25rem !important;
  }
  .ant-menu-submenu-title {
    height: 70px !important;
  }
  .horizontal-slider {
    height: 4vh !important;
    width: 100%;
    margin-top: 40px !important;
  }
  .example-thumb {
    background-color: var(--main-green-light);
    color: white;
    height: 35px;
    width: 35px;
  }
}
