.normal_card_carousel {
  padding-block: 5vh;
  /* border: 1px solid red; */
}
.normal_card_carousel h1 {
  text-align: center;
  margin-bottom: 3vh;
}
.rings_carousel,
.necklace_carousel {
  padding-block: 5vh;
  padding-inline: var(--margin-inline-laptop);
  /* border: 1px solid red; */
}
.rings_carousel h1,
.necklace_carousel h1 {
  margin-bottom: 3vh;
  margin-left: 1vw;
}
