.container,
.container_two {
  height: 17vh;
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_two {
  position: static;
  background-color: var(--primary);
}
.nav_first_row {
  display: grid;
  place-items: center;
  height: 5vh;
  width: 100%;
  background-color: var(--neutral);
}

.nav_second_row {
  /* height: 12vh; */
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  padding-inline: var(--margin-inline-laptop);
}

.navmenu {
  /* border: 1px solid rgb(204, 255, 0); */
  display: grid;
  place-items: center;
  width: 100%;
}
.navmenu ul {
  display: flex;
  gap: 1vw;
  color: var(--neutral);
  list-style-type: none;
}
.navmenu li {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav_second_row .icons {
  /* border: 1px solid red; */
  display: grid;
  place-items: center;
}

.nav_second_row .icons:nth-child(1) {
  margin-right: auto;
}

.nav_second_row .icons:nth-child(3) {
  margin-left: auto;
}

.nav_second_row .icons {
  width: fit-content;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav_second_row .icons li {
  height: 24px;
  width: 24px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.nav_icon_white {
  height: 24px;
  width: 24px;
  fill: white;
}

.nav_icon_white path {
  fill: white;
}

.logo_container {
  /* width: 100%; */
  height: 80px;
  display: flex;
  justify-content: center;
}

.logo {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.bubble {
  position: absolute;
  background: var(--primary-color);
  height: 15px;
  width: 15px;
  border-radius: 100%;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fourth-color);
  right: 0;
  top: 0;
  transform: translate(30%, -30%);
}

.mobile_nav_1 {
  display: flex;
}

.menu_icon {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav_second_row a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .nav_second_row a {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 425px) {
  .container,
  .container_two {
    height: var(--nav-mobile-height);
    padding-top: 0;
    padding-inline: var(--nav-padding-inline-mobile);
  }
  .nav_second_row {
    display: none;
  }
  .nav_second_row {
    align-items: center;
  }

  .mobile_nav_1 {
    display: none !important;
  }
  .nav_second_row {
    grid-template-columns: 1fr 1fr;
  }
  .logo_container {
    justify-content: flex-start;
  }

  .menu_icon {
    display: block;
    height: 23px !important;
    width: 29px !important;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1000000 !important;
  }

  .menu_icon div {
    height: 2px;
    background: white;
    transition: all 0.5s;
    transform-origin: right;
  }

  .menu_icon div:nth-child(1) {
    width: 100%;
  }
  .menu_icon div:nth-child(2) {
    width: 70%;
  }

  .menu_icon div:nth-child(3) {
    width: 50%;
  }

  .active_menu div:nth-child(1) {
    transform: rotateZ(-45deg);
    background: black;
    position: relative;
    z-index: 1000000000000000000000;
  }

  .active_menu div:nth-child(1)::after {
    content: "";
    position: absolute;
    height: 2px;
    background: white;
    width: 100%;
    bottom: 100%;
  }

  .active_menu div:nth-child(2) {
    transform: rotateY(90deg);
    background: black;
  }

  .active_menu div:nth-child(3) {
    width: 100%;
    transform: rotateZ(45deg);
    background: black;
  }
}
